.selectedMovie {
    .name {
        color: red
    }
}

.todo-list {
    ol {
        margin: 0 0 2em 0;
        list-style-type: none;
        padding: 0;
        li {
            position: relative;
            cursor: pointer;
            background-color: #EEE;
            margin: .5em;
            border-radius: 4px;
            list-style: none;
        }
        a {
            color: #888;
            text-decoration: none;
            position: relative;
            display: block;
        }
        .id {
            display: inline-block;
            color: white;
            padding: 0.8em 0.7em;
            background-color: #607D8B;
            line-height: 1em;
            position: relative;
            left: -1px;
            top: 0;
            min-width: 16px;
            text-align: right;
            margin-right: .8em;
            border-radius: 4px 0 0 4px;
        }
    }
    .name {}
    .fa {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
}