<!-- <app-introduce></app-introduce> -->
<div class="row">
	<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
		<div class="todo-add">
			<div class="input-group mb-3" style="padding:.5em">
				<input [(ngModel)]="nameTodo" class="form-control input-name" type="text" class="form-control" placeholder="Name...">
				<div class="input-group-append">
					<button class="btn btn-success" (click)="actionAddTodo(nameTodo)">ADD</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="todo-list">
			<ol>
				<li *ngFor="let item of movies" (click)="onClickMovie(item)" style="cursor:pointer" [class.selectedMovie]="item == currentMovie">
					<span>{{item.id}}</span>
					{{item.name}}
					<i (click)="del_aFilm(item)" style="
						position: absolute;
						right: 10px;
						top: 50%;
						transform: translateY(-50%);
					" class="fa fa-trash" aria-hidden="true"></i>
				</li>
			</ol>
		</div>
	</div>
	<div class="col-md-6">
		<app-todo-detail [movie]="currentMovie"></app-todo-detail>
	</div>
</div>

