.todo_info_detail {
    .content-detail {
        background-color: #EEE;
        max-width: 500px;
        margin: auto;
        .number {
            background-color: #607D8B;
            color: #fff;
            text-align: center;
            padding: 5px;
            ;
            font-size: 60px;
        }
        .name-detail {
            padding: 5px;
            font-size: 60px;
            text-align: center;
            input {
                width: 100%;
                text-align: center;
                outline: none
            }
        }
    }
    .content-action {
        text-align: center;
        margin-top: 20px;
        .action-style {
            margin: 0 5px;
            padding: 10px 20px;
            color: #fff;
            border-radius: 10px;
        }
    }
}

.todo-list {
    ol {
        margin: 0 0 2em 0;
        list-style-type: none;
        padding: 0;
        li {
            position: relative;
            cursor: pointer;
            background-color: #EEE;
            margin: .5em;
            border-radius: 4px;
            list-style: none;
        }
        a {
            color: #888;
            text-decoration: none;
            position: relative;
            display: block;
        }
        span {
            display: inline-block;
            color: white;
            padding: 0.8em 0.7em;
            background-color: #607D8B;
            line-height: 1em;
            position: relative;
            left: -1px;
            top: 0;
            min-width: 16px;
            text-align: right;
            margin-right: .8em;
            border-radius: 4px 0 0 4px;
        }
    }
}